[submodule "Competitive Programming/Submissions"]
	path = Competitive Programming/Submissions
	url = https://github.com/Salty-Beggar/Submissions
[submodule "My Games/Heartlinked"]
	path = My Games/Heartlinked
	url = https://github.com/Salty-Beggar/Heartlinked.git
[submodule "Web Development/web-development-school"]
	path = Web Development/web-development-school
	url = https://github.com/Salty-Beggar/web-development-school.git
[submodule "My Games/Grand-Machinery-Unity"]
	path = My Games/Grand-Machinery-Unity
	url = https://Salty-Beggar/Grand-Machinery-Unity
[submodule "My Games/Grand-Machinery-GameMaker2"]
	path = My Games/Grand-Machinery-GameMaker2
	url = https://Salty-Beggar/Grand-Machinery-GameMaker2
